<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list style="margin:0px !important;">
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" style="font-size: 1.6rem !important;">
        <ion-icon name="{{p.icon}}" style="min-height: 0.8rem !important; font-size: 1.2rem !important;line-height: 1 !important;"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

    <ion-list style="margin:0px !important;">
        <button menuClose ion-item *ngFor="let l of SocialLinks" (click)="openUrl(l.Url)" style="font-size: 1.6rem !important;">
          <ion-icon name="{{l.icon}}" style="min-height: 0.8rem !important; font-size: 1.2rem !important;line-height: 1 !important;"></ion-icon>
        {{l.title}}
      </button>
    </ion-list>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>