page-events {
  .select-icon{
    color: white !important;
    /* float: right; */
    margin-right: 12px;
  }
  .select-icon-inner{
    color: white !important;
  }
  .select-placeholder
  {
    color: white !important;
  }
  
}
